<div id="updateReimburse-container">

    <header>Resolved Reimbursements</header>
    <hr>
    <br>

    <table class="table" id="every-reimbursements">
        <thead>
          <tr>
            <th>ID</th>
            <th>Amount</th>
            <th>Time Submitted</th>
            <th>Time Resolved</th>
            <th>Description</th>
            <th>Resolver</th>
            <th>Type</th>
            <th>Status</th>
          </tr>
        </thead>
        <body>

        </body>
        
    </table>

    <span>
        <div id="back-button-container">
            <button type="submit" class="btn btn-primary" id="back">Dashboard</button>
        </span>