
<div id="managerReimburse-container">

    <header>Approve or deny reimbursements</header>
    <hr>
    <br>

    <table class="table" id="manager-reimbursements">
        <thead>
          <tr>
            <th>ID</th>
            <th>Amount</th>
            <th>Time Submitted</th>
            <th>Description</th>
            <th>Author</th>
            <th>Type</th>
          </tr>
        </thead>
        <body>

        </body>
        
    </table>

    <div id="managerReimburse-container">

        <div class="form-group">
            <label for="id">Id</label>
            <input type="text" class="form-control" id="id"/>
        </div>
    
        <div class="form-group">
            <label for="answer">Approve or Deny</label>
            <select class="form-control" id="answer">
                <option value = "APPROVED">Approve</option>
                <option value = "DENIED">Deny</option>
            </select>
        </div>
    
        <span>
        <div id="register-button-container">
            <button type="submit" class="btn btn-primary" id="AoD">Submit</button>
            <button type="submit" class="btn btn-primary" id="back">Dashboard</button>
        </span>
    </div>



</div>