
<div id="newReimbursement-container">

    <header>Submit New Reimbursement.</header>
    <hr>
    <br>

    <div class="form-group">
        <label for="reg-amt">Amount</label>
        <input type="text" class="form-control" id="reg-amt"/>
    </div>

    <div class="form-group">
        <label for="reg-desc">Description</label>
        <input type="text" class="form-control" id="reg-desc"/>
    </div>

    <div class="form-group">
        <label for="reg-type">Type</label>
        <select class="form-control" id="reg-type">
            <option value = "LODGING">Lodging</option>
            <option value = "TRAVEL">Travel</option>
            <option value = "FOOD">Food</option>
            <option value = "OTHER">Other</option>
        </select>
    </div>

    <div id="register-button-container">
        <button type="submit" class="btn btn-primary" id="reimb-submit">Submit</button>
        <button type="submit" class="btn btn-primary" id="back">Dashboard</button>
    </div>

</div>


