
<div id="newUser-container">

    <header>Register a new user.</header>
    <hr>
    <br>

    <div class="form-group">
        <label for="reg-fn">First Name</label>
        <input type="text" class="form-control" id="reg-fn"/>
    </div>

    <div class="form-group">
        <label for="reg-ln">Last Name</label>
        <input type="text" class="form-control" id="reg-ln"/>
    </div>

    <div class="form-group">
        <label for="reg-username">Username</label>
        <input type="text" class="form-control" id="reg-un"/>
    </div>

    <div class="form-group">
        <label for="reg-password">Password</label>
        <input type="password" class="form-control" id="reg-pw"/>
    </div>

    <div class="form-group">
        <label for="reg-email">Email</label>
        <input type="text" class="form-control" id="reg-email"/>
    </div>

    <div class="form-group">
        <label for="role">Role</label>
        <select class="form-control" id="reg-role">
            <option value = "EMPLOYEE">Employee</option>
            <option value = "MANAGER">Manager</option>
            <option value = "ADMIN">Admin</option>
        </select>
    </div>

    <div id="register-button-container">
        <button type="submit" class="btn btn-primary" id="register">Register</button>
    </div>
</div>
